/*RESET*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/*UTILITIES*/
li {
    list-style: none;
   }
h1, h2, h3, h4, h5{
    color:black;
    text-align: center;
    width: 100%;
}

h1 {
  font-size: 30px;
}
#footerfont{
  font-size: 12px;
  padding-left: 10%;
  padding-right: 10%;
}
a{
  text-decoration: none;
}
p{
  line-height: 1.3;
}

/*BOTTONE UP*/
#button {
  display: inline-block;
  background-color: none;
  opacity: 0.6;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  margin: 10px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  transition: .3s;
  z-index: 1000;
}
#classiconbutton{
  color: yellowgreen;
  font-size: 40px;
}
#button:hover {
  cursor: pointer;
  opacity: 1;
}
#button:active {
  background-color: #555;
}
.show{
  visibility:hidden;
}

.txt-rotate{
  color: yellowgreen;
  background-color: black;
}
/*****************INIZIO HEADER********************/
/* NAVBAR*/
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3% 4%;
    background-color:black;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
      .menu li:hover {
      background-color: yellowgreen;
      border-radius: 5px;
      transition: 0.3s ease;
      }
      .menu li {
       padding: 5px 14px;
      }
      .menu>li>a {
        text-decoration: none;
        font-size: 1.6rem;
       }

   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .services:hover .dropdown {
    display: block;
   }
    input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 45px;
    user-select: none;
    color: white;
   }
/*****************FINE HEADER********************/


/*****************INIZIO BODY********************/
/* Default font & background */
body{
    font-family: 'Questrial', sans-serif;
    background-color: black;
}
/*Classe banda orizzontale*/
.grid{
  padding: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    min-height: 220px;
}
/*Classi background-color banda orizzontale*/
.blackbackground {
    background-color: black;
}
.whitebackground{
    background-color: white;
}
#corpotext{
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
/*Colore testo*/
.whitetext{
    color:white;
}
.blacktext{
    color:black;
}
.yellowgreentext{
    color:yellowgreen;
}
/*Immagini*/
#profileimg {
  display: block;
  width: 100%;
  border: solid 6px rgb(173, 173, 173);
  height: auto;
}
/*Icone*/
i {
    font-size: 50px;
    color: black;
    width: 40px;
}
.iconecontainer{
  min-width: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center ;
  padding-top: 6%;
  padding-bottom: 6%;
}
.iconwhitetext{
  font-size: 1rem;
  color: white;
}
.iconblacktext{
  font-size: 1rem;
  color: black;
}
#icon{
  display: flex;
  flex-direction: column;
  width: 25%;
  align-items: center;

}
#icon>i, #icon>p{
  padding: 4%;
  text-align: center;
}
.fa-phone-volume{
  font-size: 1em;
}

/**********INIZIO BANDA CERTIFICATI***********/
  .col-certificate{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-around;
    padding-bottom: 5%;
    padding-top: 3%;
}
  .widthdivcertificate{
    width: 50%;
    align-content: space-around;
  }
  .widthcertificate {
    width: 80%
  }
  .titlecert{
    width: 100%;
  }

/**********INIZIO FORM CONTATTI*********************/
form {
  width: 100%;
  max-width: 800px;
  padding: 2rem;
}
  .containerform {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    background-color: yellowgreen;
    padding-bottom: 10px;
    margin-bottom: 25px;
  }
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
  }
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 320px;
  }
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  .flex-outer li p {
    margin: 0;
  }
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
    font-family: 'Questrial', sans-serif;
    color: black;
  }
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: black;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
  }
  .flex-inner li {
    width: 100px;
  }
    #campomail {
      height: 150px;
    }
/**********FINE FORM CONTATTI*********************/


/**********ANIMAZIONE OVERLAY IMMAGINE************/
.col-33 {
    position: relative;
    width: 50%;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: yellowgreen;
  }
.col-33:hover .overlay {
    opacity: 1;
  } 
  .overlaytext {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
/**********FINE ANIMAZIONE OVERLAY IMMAGINE************/

/**********INIZIO MEDIAQUERY**************************/
/********** Large devices only **********/
@media (min-width: 992px) {
  .logomobile{
    display: none;
  }
  .col-33{
       width: 30%;
  }
  .col-66{
      width: 60%;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
  }
  .col-form{
      width: 100%;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column;
      padding-top: 2%;
      padding-bottom: 5%;
      align-items: center;
  }
}

/********** Medium devices only **********/
@media (min-width: 767px) and (max-width: 991px) {
  a {
  text-decoration: none;
  font-size: 1.3rem;
 }
 /*Inizio Header*/
.logo{
  display: none;
}
.navbar{
  height:180px;
}
.menu { 
 visibility: hidden;
 opacity: 0;
 transition: visibility 0s, opacity 0.3s linear;
 position: absolute;
 background-color:yellowgreen;
 right: 0;
 left: 0;
 text-align: center;
 padding: 16px 0;
 z-index: 10;
 padding-top: 20px;
 margin-top: 67px;
}
.menu li:hover {
 display: inline-block;
 background-color:black;
 transition: 0.3s ease;
}
.menu li + li {
 margin-top: 12px;
}
input[type=checkbox]:checked ~ .menu{
  display:block;
  visibility: visible;
  opacity: 1;
}
input[type=checkbox]:checked ~ .hamburger {
  color: yellowgreen;
}
.hamburger {
 display: block;
}
.dropdown {
 left: 50%;
 top: 30px;
 transform: translateX(35%);
}
.dropdown li:hover {
 background-color: black;
}
/*Fine Header*/
.col-33{
     width: 40%;
}
.col-66{
     width: 40%;
     font-size: 1.6rem;
     padding-top: 5%;
     padding-bottom: 5%;
}
.col-form{
    width: 100%;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}
}
/********** Mobile only **********/
@media (max-width: 767px){
  a {
    text-decoration: none;
    font-size: 1.3rem;
   }

  #profileimg {
    border: none;
}
  h2{
    font-size: 1.2rem;
  }
  .navbar{
    height:150px;
  }
  .logo{
    display: none;
  }
    .menu { 
     visibility: hidden;
     opacity: 0;
     transition: visibility 0s, opacity 0.3s linear;
     position: absolute;
     background-color:yellowgreen;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     z-index: 10;
     padding-top: 20px;
     margin-top: 52px;
    }
    .menu li:hover {
     display: inline-block;
     background-color:black;
     transition: 0.3s ease;
    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
     display:block;
     visibility: visible;
     opacity: 1;
    }

    input[type=checkbox]:checked ~ .hamburger {
      color: yellowgreen;
     }
     
    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
    }
    .dropdown li:hover {
     background-color: black;
    }
    .grid{
      padding-top: 5%;
      padding-bottom: 0;
      padding-right: 0;
      padding-left: 0;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .col-33{
        width: 100%;
   }
   .col-66{
        width: 100%;
        padding: 5%;
        font-size: 1.4rem;
   }

   .col-form{
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;
}
.col-certificate{
  width: 100%;
  flex-direction: column;
}
.widthdivcertificate{
  width: 100%;
  align-content: space-around;
  padding-bottom: 5%;
}
.titlecert{
  padding-top: 20px;
  padding-bottom: 20px;
}
.iconecontainer{
  padding-right: 5%;
}
}