/*reset*/
*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* UTILITIES */
a {
    text-decoration: none;
   }
li {
    list-style: none;
   }
h1, h2, h3, h4, h5{
    color:black;
    text-align: center;
}

/*****************INIZIO HEADER********************/
/* NAVBAR STYLING STARTS */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color:black;
    color: #fff;
   }
   .nav-links a {
    color: #fff;
   }
   /* LOGO */
   .logo {
    font-size: 32px;
   }
   /* NAVBAR MENU */
   .menu {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .menu li:hover {
    background-color: yellowgreen;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .menu li {
    padding: 5px 14px;
   }
   /* DROPDOWN MENU */
   .services {
    position: relative; 
   }
   .dropdown {
    background-color: yellowgreen;
    padding: 1em 0;
    position: absolute; /*WITH RESPECT TO PARENT*/
    display: none;
    border-radius: 8px;
    top: 35px;
   }
   .dropdown li + li {
    margin-top: 10px;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   }
   .dropdown li:hover {
    background-color: #4c9e9e;
   }
   .services:hover .dropdown {
    display: block;
   }

input[type=checkbox]{
    display: none;
   } 
   /*HAMBURGER MENU*/
   .hamburger {
    display: none;
    font-size: 60px;
    user-select: none;
   }

/*****************FINE HEADER********************/


/*****************INIZIO BODY********************/
body{
    font-family: 'Questrial', sans-serif;
    background-image: url("https://i.stack.imgur.com/OI2OX.png");
}
.grid{
    padding: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.black {
    background-color: black;
    opacity: 80%;

}

.white{
    background-color: white;
    opacity: 100%;
}

#corpotext{
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.whitetext{
    color:white;
}
.blacktext{
    color:black;
}

.yellowgreentext{
    color:yellowgreen;
}

i {
    font-size: 50px;
}

#hardskill{
    padding: 10px;
    min-width: auto;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center ;
    color: yellowgreen;
}

#softskill{
    padding: 10px;
    min-width: auto;
    min-height: 250px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center ;
    color: yellowgreen;
}

#icon{
    flex-direction: row;
    width: 25%;
}

.blacky {
    color: black;
}

.whitey {
    color: white;
}

form {
    width: 100%;
    max-width: 800px;
    padding: 2rem;
}

.half {
    width: 49.5%;
    font-size: 1.4rem;
    color: black;
    margin-bottom: 4px;
}

.full {
    width: 100%;
    font-size: 1.4rem;
    color: black;
    margin-bottom: 4px;
}

#campomail {
    height: 150px;
}

/**********INIZIO FORM CONTATTI*********************/

  .container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    color: black;
    background-color: yellowgreen;
  }
  
  .container * {
    box-sizing: border-box;
  }
  
  .flex-outer,
  .flex-inner {
    list-style-type: none;
    padding: 0;
  }
  
  .flex-outer {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .flex-outer li,
  .flex-inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }
  
  .flex-inner {
    padding: 0 8px;
    justify-content: space-between;  
  }
  
  .flex-outer > li:not(:last-child) {
    margin-bottom: 20px;
  }
  
  .flex-outer li label,
  .flex-outer li p {
    padding: 8px;
    font-weight: 300;
    text-transform: uppercase;
    color: black;
    
  }
  
  .flex-outer > li > label,
  .flex-outer li p {
    flex: 1 0 120px;
    max-width: 220px;
  }
  
  .flex-outer > li > label + *,
  .flex-inner {
    flex: 1 0 220px;
  }
  
  .flex-outer li p {
    margin: 0;
  }
  
  .flex-outer li input:not([type='checkbox']),
  .flex-outer li textarea {
    padding: 15px;
    border: none;
    font-family: 'Questrial', sans-serif;
    color: black;
  }
  
  .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: black;
    color: white;
    text-transform: uppercase;
    border-radius: 2px;
  }
  
  .flex-inner li {
    width: 100px;
  }

/**********ANIMAZIONE OVERLAY IMMAGINE************/
#profileimg {
    display: block;
    width: 100%;
    height: auto;
    opacity: 100%;
}
.col-33 {
    position: relative;
    width: 50%;
  }
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: yellowgreen;
  }
  .col-33:hover .overlay {
    opacity: 1;
  } 
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

  i{
      width: 40px;
      color: yellowgreen;
  }
/**********FINE ANIMAZIONE OVERLAY IMMAGINE************/


/**********INIZIO MEDIAQUERY**************************/
/********** Large devices only **********/

@media (min-width: 992px) {
    .col-33{
         width: 30%;
    }
    .col-66{
        width: 60%;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .col-100{
        width: 100%;
        font-size: 1.8rem;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;


    }
}
/********** Medium devices only **********/

@media (min-width: 768px) and (max-width: 991px) {
    .col-33{
         width: 45%;
    }
    .col-66{
         width: 45%;
         font-size: 1.6rem;
         padding-top: 5%;
         padding-bottom: 5%;
    }
    .col-100{
        width: 100%;
        font-size: 1.6rem;
        display: flex;
        flex-direction: column;
        padding-top: 5%;
        padding-bottom: 5%;
        align-items: center;

    }
}


/********** Mobile only **********/

@media (max-width: 767px){
    .menu { 
     display:none;
     position: absolute;
     background-color:yellowgreen;
     right: 0;
     left: 0;
     text-align: center;
     padding: 16px 0;
     z-index: 10;
     padding-top: 20px;
     margin-top: 51px;
    }
    .menu li:hover {
     display: inline-block;
     background-color:black;
     transition: 0.3s ease;
    }
    .menu li + li {
     margin-top: 12px;
    }
    input[type=checkbox]:checked ~ .menu{
     display: block;
    }

    .hamburger {
     display: block;
    }
    .dropdown {
     left: 50%;
     top: 30px;
     transform: translateX(35%);
    }
    .dropdown li:hover {
     background-color: black;
    }


    .grid{
        padding: 0px;
    }
    .reverse {
        flex-direction: column-reverse;
    }
    .col-33{
        width: 100%;
   }
   .col-66{
        width: 100%;
        padding: 5%;
        font-size: 1.4rem;
   }
   .col-100{
    width: 100%;
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    padding-bottom: 5%;
    align-items: center;

}
}